@charset "utf-8";
/* --------------- Style to null --------------- */
*{-webkit-text-size-adjust: none; }
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{-webkit-tap-highlight-color: rgba(0,0,0,0); border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 26.10.2015

    placeholder

    fonts

    site

    news

    news__list

    reviews

    contacts

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 1000px;
    overflow: hidden;
    position: relative;
    font: 14px 'PT Sans', sans-serif;
    background-color: #f6f4ef;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 142px;
}
.site__header {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-top: 14px;
    z-index: 3;
}
.site__content {
    position: relative;
    z-index: 2;
    width: 1000px;
    margin: 0 auto 30px;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 142px;
}
.site__footer-layout {
    position: relative;
    width: 1000px;
    height: 142px;
    margin: 0 auto;
    padding-top: 12px;
    padding-right: 27px;
    font-size: 14px;
    line-height: 17px;
    color: #432100;
    background: #e7e2d6;
    text-align: center;
}
/* --------------- /site --------------- */

/* --------------- head-info --------------- */
.head-info > div,
.head-info__address{
    position: absolute;
    top: 46px;
    right: 5px;
    width: 185px;
    padding-left: 25px;
    line-height: 20px;
    background: url(../img/icons-place.png) no-repeat 0 2px;
}
.head-info a,
.head-info span{
    display: block;
    color: #8b4d11;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.head-info a:hover{
    text-shadow: 1px 1px 0 #999;
}
.head-info strong{
    color: #000;
}
.head-info .phone{
    margin-bottom: 5px;
    color: #000;
    cursor: default;
    line-height: 16px;
}
.head-info .phone:hover{
    opacity: 1;
}
.head-info .phone strong{
    position: relative;
    top: 2px;
    font-size: 21px;
}
.head-info__address{
    right: 514px;
    font-size: 16px;
    font-style: normal;
    background-image: url("../img/icons-place.png");
}
.head-info__address a{
    font-size: 14px;
    color: #fc7c00;
    text-decoration: underline;
}
.head-info .head-info__contacts{
    right: 252px;
}
.head-info .head-info__callback{
    margin-top: 10px;
    font-size: 18px;
    color: #fc7c00;
    text-decoration: underline;
}
.head-info .head-info__mode{
    width: 139px;
    font-size: 16px;
    color: #8b4d11;
    background-image: url("../img/icons-mode.png");
}
.head-info .head-info__mode sup{
    font-size: 10px;
}
/* -------------- /site__header --------------- */

/* --------------- header__menu --------------- */
.header__menu{
    position: relative;
    height: 50px;
    background-color: rgba(0,0,0,.7);
    z-index: 9;
}
.header__menu > div{
    display: table;
    width: 100%;
}
.header__menu a{
    display: table-cell;
    width: 20%;
    height: 50px;
    border-left: 1px solid #fff;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
}
.header__menu a:first-child{
    border-left: none;
}
.header__menu a:hover{
    background-color: rgba(255,255,255,.2);
}
/* --------------- header__menu --------------- */

/* --------------- logo --------------- */
.logo {
    margin-left: 19px;
    margin-bottom: 16px;
}
/* --------------- /logo --------------- */

/* --------------- services --------------- */
.services{
    float: left;
    width: 180px;
    margin-top: -9px;
    margin-right: 30px;
    padding-left: 19px;
    font-size: 18px;
}
.services a{
    display: block;
    margin-left: 15px;
    margin-bottom: 7px;
    color: #432100;
    line-height: 22px;
    text-decoration: underline;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.services a:hover{
    opacity: .5;
}
.services h2{
    margin-bottom: 12px;
    font: normal 38px 'Georgia', serif;
    color: #8b4d11;
}
/* --------------- /services --------------- */

/* --------------- site__content-wrap --------------- */
.site__content-wrap{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #432100;
}
.site__content-wrap  a{
    color:  #432100;
    text-decoration: underline;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.site__content-wrap a:hover{
    color: #f27800;
}
.site__content-wrap p{
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}
.site__content-wrap span{
    color: #fc7c00;
}
.site__content-wrap span.green{
    color: #98ca3c;
}
.site__content-wrap h1{
    font-size: 38px;
    color: #f27800;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 36px;
    font-family: 'Georgia', sans-serif;
}
.site__content-wrap h2{
    font-size: 24px;
    margin-bottom: 11px;
    font-weight: normal;
    line-height: 24px;
    font-family: 'Georgia', sans-serif;
    color: #432100;
}
.site__content-wrap h3{
    font-size: 18px;
    color: #432100;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 10px;
}

.site__content-wrap ol{
    counter-reset: li;
    list-style: none;
    margin-top: -10px;
    margin-bottom: 22px;
}
.site__content-wrap ol>li{
    position: relative;
    padding-left: 14px;
    line-height: 25px;
    margin-top: 2px;
}
.site__content-wrap ol>li li{
    line-height: 17px;
}
.site__content-wrap ol>li ol{
    margin-top: -4px;
    margin-bottom: 10px;
}
.site__content-wrap ol li:before{
    counter-increment: li;
    content: counters(li,".") ". ";
}
.site__content-wrap ol li li:before{
    margin-right: 7px;
}
.site__content-wrap strong,b{

}
.site__content-wrap ul{
    padding-left: 26px;
}
.site__content-wrap ul li{

}
.site__content-wrap ul li:before{
    content: " ";
}
.site__content-wrap table{
    margin: 10px 0 20px;
    margin-bottom: 157px;
    width: 772px;
}
.site__content-wrap table th,
.site__content-wrap table td{
    width: 181px;
    vertical-align: middle;
    padding: 1px 12px;

}
.site__content-wrap table th{
    background-color: #9bb2c8;
    color: #fff;
    text-align: center;
    line-height: 14px;
}
.site__content-wrap table tr:last-child{
    border-bottom: 1px solid #605447;
}
.site__content-wrap table tr:first-child{
    border-top: 1px solid #605447;

}
.site__content-wrap table td:first-child{
    width: 261px;
}
.site__content-wrap table tr:nth-child(odd){
    background-color: #e7e2d6;
}
.site__content-wrap table td{
    line-height: 20px;
    font-size: 12px;
}
.site__content-wrap table tr:last-child{
    border-bottom: 1px solid #605447;
}

table{
    font-family: 'PT Sans', sans-serif;
}
table caption{
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 11px;
}
/* --------------- /site__content-wrap --------------- */

/* --------------- bread-crumbs --------------- */
.bread-crumbs{
    margin: 38px 0px;
    margin-bottom: 33px;
}
/* --------------- /bread-crumbs --------------- */


/* -------------- swiper-container --------------- */
.swiper-container{
    margin-top: -50px;
    margin-bottom: 33px;
    border-bottom: 3px solid #8b4d11;
}
.swiper-slide{
    height: 300px;
    font: 24px/29px 'Georgia', sans-serif;
    color: #432100;
    background-size: contain;
}
.swiper-slide h2{
    margin-bottom: 4px;
    font-size: 31px;
    font-weight: normal;
    color: #fc7c00;
    text-transform: uppercase;
}
.swiper__content{
    padding-top: 93px;
    padding-left: 90px;
    padding-right: 660px;
}
.swiper-button-prev,
.swiper-button-next{
    top: 64%;
    width: 11px;
    height: 21px;
    background: url("../img/img_arrows.png") no-repeat 0 0;
}
.swiper-button-next{
    background-position: -12px 0;
}
/* -------------- /swiper-container --------------- */

/* --------------- service --------------- */
.service{
    margin-right: -10px;
}
.service-item{
    display: inline-block;
    width: 175px;
    margin-right: 20px;
    margin-bottom: 4px;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
}
.service__img{
    margin-bottom: 2px;
}
.service-item a{
    text-decoration: none;
}
.service-item a span{
    display: block;
    height: 57px;
    margin: 0 -1px;
    font: 16px 'Georgia', sans-serif;
    color: #432100;
    text-decoration: none;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.service-item a span:hover{
    opacity: .7;
}
/* --------------- /service --------------- */

/* --------------- news__list --------------- */
.news__list__container{
    font-family: "PT Sans Regular","sans-serif";
    width: 774px;
    margin-bottom: 17px;
}
.content-time{
    display: block;
    color: #8b4d11;
    font-size: 12px;
    margin-bottom: 12px;
    margin-top: -3px;
}
.content-title{
    display: block;
    font-size: 24px;
    margin-bottom: 8px;
}
.news__list__container-img{
    display: inline-block;
    width: 175px;
    height: 117px;
    vertical-align: top;
}
.news__list__container__content{
    display: inline-block;
    width: 570px;
    vertical-align: top;
    margin-left: 17px;
}
.content_without-photo{
    width: 100%;
    margin-left: 0px;
}
.news-title{
    line-height: 39px !important;
    margin-bottom: 10px !important;
}
/* --------------- /news__list --------------- */

/* --------------- news --------------- */
.news-img{
    float: right;
    width: 449px;
    height: 300px;
    margin-left: 17px;
    margin-bottom: 22px;
}
.news_time{
    margin-bottom: 26px;
}
.news__list__container p{
    letter-spacing: 0.2px;
    margin-bottom: 10px;
    line-height: 17px;
}
/* --------------- /news --------------- */

/* --------------- reviews --------------- */
.reviews{
    font-family: 'PT Sans Regular', sans-serif;
    width: 770px;
    margin-top: -10px;
}
.reviews__user{
    background-color: #ede9e0;
    padding: 10px 10px 10px 20px;
}
.reviews__user p{
    margin-bottom: 0;
}
.reviews__admin{
    width: 100%;
    margin-bottom: 14px;
}
.reviews__admin-img{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 50px;
    top: 1px;
    left: 19px;
}
.reviews__admin-content{
    display: inline-block;
    width: 693px;
    margin-left: 25px;
    padding-top: 6px;
}
.reviews__leave-feedback{
    width: 100%;
    background-color: #ede9e0;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 19px;
}
.input-textbox{
    width: 100%;
    height: 33px;
    background: #f6f4ef;
    border: none;
    font-size: 14px;
}
.textbox{
    display: inline-block;
    height: 62px;
    width: 210px;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 2px 7px 7px 7px;
    background: #f6f4ef;
    margin-left: 26px;
    border: none;
    vertical-align: top;
}
.email_textbox{
    width:305px;
    margin-left: 8px;
 }
.email_textbox span{
    font-style: italic;
    font-size: 13px;
}
.email_input-textbox{
    width: 100%;
    background: #f6f4ef;
    border: none;
}
.message{
    background: #f6f4ef;
    width: 741px;
    height: 214px;
    border: #f6f4ef;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 4px 4px 4px 7px;
    overflow: hidden;
    margin: 13px auto;
}
input[type="email"]{
    font-size:14px;
    padding: 7px;
}
input[type="name"]{
    font-size:14px;
    padding: 7px;
}
.message:focus,
.textbox:focus{
    outline:none;
}
.button{
    display: block;
    height:63px;
    width:62px;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    padding:10px;
    background:#877d73;
    color:#FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 24px;
    transition:background .4s;
    cursor:pointer;
    margin: 0 auto;
}
.button:hover{
    background:rgba(0,0,0,.3);
}
.reviews__leave-feedback span{
    color: #432100;
}
.form-title{
    display: inline-block;
    width: 220px;
    height: 62px;
    font-size: 24px;
    margin-left: 15px;
    margin-right: -36px;
    padding-top: 20px;
}
.reviews__admin-content strong{
    display: block;
}
/* --------------- /reviews --------------- */

/* --------------- contacts --------------- */
.contacts{
    font-family: "PT Sans Regular","sans-serif";
    font-style:normal;
    margin-bottom: 45px;
}
.contacts span{
    display: block;
    font-size: 14px;
    color: #432100;
    margin-top: 25px;
}
.contacts strong{
    display: block;
    font-size: 18px;
    margin-bottom: 26px;
}
.contacts div strong{
    display: inline-block;
    font-size: 18px;
    margin-bottom: 0;
}
.contacts div span{
    margin-bottom: -5px;
}
/* --------------- /contacts --------------- */

/* --------------- site__footer-layout --------------- */
.site__footer-info{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 150px;
    font-style: normal;
    text-align: left;
}
.site__footer-info address{
    font-style: normal;
}
.site__footer-info .phone{
    margin: 9px 0 8px;
}
.site__footer-layout .phone a{
    color: #432100;
    cursor: default;
}
.site__footer-copyright{
    position: absolute;
    top: 84px;
    right: 20px;
    width: 145px;
    text-align: left;
}
.site__footer-copyright a{
    color: #432100;
    text-decoration: underline;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.site__footer-copyright a:hover{
    opacity: .7;
}
/* --------------- /site__footer-layout --------------- */