@charset "utf-8";
/* --------------- Style to null --------------- */
*{-webkit-text-size-adjust: none; }
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{-webkit-tap-highlight-color: rgba(0,0,0,0); border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "Font Name";
    src: url("../fonts/font.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 1000px;
    height: 139px;
    overflow: hidden;
    position: relative;
    background-color: #f6f4ef;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 142px;
}
.site__content {
    position: relative;
    z-index: 2;
    width: 783px;
    margin: 0 auto;
}

.site__header {
    position: relative;
    height: 100px;
    z-index: 3;

}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 142px;
}
.site__footer-layout {
    width: 100%;
    height: 142px;
    background: #e7e2d6;
}
.site__content-wrap{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #432100;
}
.site__content-wrap  a{
    color:  #432100;
    text-decoration: underline;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.site__content-wrap a:hover{
    color: #f27800;
}
.site__content-wrap p{
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}
.site__content-wrap span{
    color: #fc7c00;
}
.site__content-wrap span.green{
    color: #98ca3c;
}
.site__content-wrap h1{
    font-size: 38px;
    color: #f27800;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 36px;
    font-family: 'Georgia', sans-serif;
}
.site__content-wrap h2{
    font-size: 24px;
    margin-bottom: 11px;
    font-weight: normal;
    line-height: 24px;
    font-family: 'Georgia', sans-serif;
    color: #432100;
}
.site__content-wrap h3{
    font-size: 18px;
    color: #432100;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 10px;
}

.site__content-wrap ol{
    counter-reset: li;
    list-style: none;
    margin-top: -10px;
    margin-bottom: 22px;
}
.site__content-wrap ol>li{
    position: relative;
    padding-left: 14px;
    line-height: 25px;
    margin-top: 2px;
}
.site__content-wrap ol>li li{
    line-height: 17px;
}
.site__content-wrap ol>li ol{
    margin-top: -4px;
    margin-bottom: 10px;
}
.site__content-wrap ol li:before{
    counter-increment: li;
    content: counters(li,".") ". ";
}
.site__content-wrap ol li li:before{
    margin-right: 7px;
}
.site__content-wrap strong,b{

}
.site__content-wrap ul{
    padding-left: 26px;
}
.site__content-wrap ul li{

}
.site__content-wrap ul li:before{
    content: " ";
}
.site__content-wrap table{
    margin: 10px 0 20px;
}
.site__content-wrap table th,
.site__content-wrap table td{
    width: 320px;
    padding: 10px 15px;
    vertical-align: middle;
}
.site__content-wrap table th{
    background-color: #9bb2c8;
    color: #fff;
    text-align: center;
    line-height: 14px;
}
.site__content-wrap table td{
    line-height: 20px;
}
.site__content-wrap table tr:first-child{
    border-top: 1px solid #605447;

}
.site__content-wrap table tr:last-child{
    border-bottom: 1px solid #605447;
}
.site__content-wrap table td:first-child{

}
/* --------------- /site --------------- */
/* --------------- bread-crumbs --------------- */
.bread-crumbs{
    margin: 38px 0px;
    margin-bottom: 33px;
}
/* --------------- /bread-crumbs --------------- */

/* --------------- news__list --------------- */
.news__list__container{
    width: 770px;
    margin-bottom: 28px;
}
.content-time{
    display: block;
    color:#8b4d11;
    font-size: 12px;
    margin-bottom: 5px;
}
.content-title{
    font-size: 24px;
    text-decoration: underline;
}
.news__list__container-img{
    display: inline-block;
    width: 175px;
    height: 117px;
    vertical-align: top;
}
.news__list__container__content{
    display: inline-block;
    width: 570px;
    vertical-align: top;
    margin-left: 20px;
}
.content_without-photo{
    width: 100%;
    margin-left: 0px;
}

/* --------------- /news__list --------------- */

/* --------------- news --------------- */
.news-img{
    float: right;
    width: 450px;
    height: 300px;
}

/* --------------- /news --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
/* --------------- /logo --------------- */
/* --------------- client-list --------------- */
.client-list{

}
/* --------------- /client-list --------------- */

